.App {
  text-align: center;
  background-color: #c8c8c8;
  height: 100%;
  padding-top: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  color: #787878;
}

.App-header p {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-LandingSpot {
  height: 2000px;
  width: 400px;
  position: relative;
  margin: 0 auto;
}
.App-LandingImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 46% 15%;
  background-repeat: no-repeat;
  background-size: 356px 322px;
}
.App-ItchHand {
  background-image: url('./assets/images/itchHand.png');
  background-position: -48% 2%;
}
.App-finger {
  background-image: url('./assets/images/finger.png');
  background-attachment: fixed;
}
.stars-wrapper {
  /* background-color: #2B068A; */
  height: 61%;
}
.stars {
  background-image: url('./assets/images/stars.png');
  background-attachment: fixed;
  height: 100%;
}

.fadingImage-enter {
  opacity: 0.01;
}

.fadingImage-enter.fadingImage-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadingImage-leave {
  opacity: 1;
}

.fadingImage-leave.fadingImage-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}