.App {
  text-align: center;
  background-color: #c8c8c8;
  height: 100%;
  padding-top: 20px;
}

.App-container {
  width: 50%;
  margin: 0 auto;
}


/* Landing Image styles */

.App-LandingSpot {
  height: 750px;
  width: 400px;
  position: relative;
  margin: 0 auto;
}
.App-LandingImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 46% 15%;
  background-repeat: no-repeat;
  background-size: 356px 322px;
}
.App-header {
  position: relative;
  top: 320px;
  display: flex;
  justify-content: flex-end;
  color: #8E918A;
}

.sticky-header {
  position: fixed;
  top: 16px;
  right: 35%;
}

.App-ItchHand {
  background-image: url('./assets/images/itchHand.png');
  background-position: -48% 2%;
}
.App-finger {
  background-image: url('./assets/images/finger.png');
  background-attachment: fixed;
}
.stars-wrapper {
  /* background-color: #2B068A; */
  height: 61%;
}
.stars {
  background-image: url('./assets/images/stars.png');
  background-attachment: fixed;
  height: 100%;
}

.fadingImage-enter {
  opacity: 0.01;
}

.fadingImage-enter.fadingImage-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fadingImage-leave {
  opacity: 1;
}

.fadingImage-leave.fadingImage-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}


.TheTagline {
  color: #8E918A;
  position: absolute;
  bottom: 10px;
  right: 0;
}


.TheTypes {
  color: #8E918A;
}

.TheTypes .business-types {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* TheTypes styles */
.TheTypes {
  padding-top: 30px;
  padding-bottom: 30px;
}

.TheTypes .business-types {
  margin-bottom: 24px;
}

.TheTypes .business-types .type  {
  margin-bottom: 16px;
  font-size: 30px;
}

.spacer {
  margin-top: 200px;
  height: 1000px;
}
